body {}

#wrapper {
	width: 100%;
}

header {
	width: 100%;
	font-family: Quicksand, sans-serif;
}

h1 img {
	width: 15%;
	float: left;
	margin: 10px;
}

nav {
	float: right;
	font-family: Lato;
	font-weight: lighter;
	margin: 30px;
	margin-top: 80px;
}

nav ul {
	padding: 10px;
}

nav ul li {
	display: inline;
	margin: 15px;
}

nav ul div {
	border-left: 2px solid black;
	display: inline;
}

a {
	text-decoration: none;
	color: #000000;
}

.container {
	width: 100%;
	float: left;
	background: -webkit-linear-gradient(yellow, white, yellow);
	text-align: center;
}

.container h2 {
	text-align: center;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 2em;
	margin: 30px;
	margin-top: 60px;
}

.container img {
	width: 100%;
}

.container button {
	background-color: #fbb040;
	padding: 10px;
	border-radius: 10px;
	border:none;
	
}

.container button a {
	font-size: 2em;
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

footer {
	width: 100%;
	clear: both;
	font-family: Quicksand, sans-serif;
}

.col-1 {
	width: 45%;
	float: left;
	margin: 10px;
	padding: 10px;
	font-family: Lato, sans-serif;
	font-weight: lighter;
	font-size: 1em;
}

.col-2 {
	width: 49%;
	float: right;
	color: #fbb040;
	text-align: center;
	margin: 10px;
}

.col-2 ul {
	float: right;
}

.col-2 ul li {
	display: inline;
	margin: 15px;
}

.col-2 a {
	color: #fbb040;
	font-size: 2.2em;
}

/*MEET US*/

.container-mark {
	width: 100%;
	text-align: center;
	float: left;
	background: -webkit-linear-gradient(yellow, white, yellow);
}
 .container-mark h2 {

 	text-align: center;
 	font-family: Quicksand, sans-serif;
 	font-weight: bold;
 	font-size: 2em;
 	margin-top: 50px;
 	margin-bottom: 15px;
 }

 .container-mark h4 {

 	width: 70%;
 	text-align: center;
 	font-family: Lato, sans-serif;
 	font-weight: lighter;
 	margin: 0 auto;
 	font-size: 1.2em;
 }


 .container-mark div {

 	width: 25%;
 	float: left;
 	margin: 50px;
 }

.container-mark div img {
	width: 50%;
}

.container-mark div h3 {
	text-align: center;
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

.container-mark div p {
	text-align: justify;
	font-family: Lato, sans-serif;
	font-weight: lighter;
	padding: 15px;

}

.container-mark button {
	background-color: #fbb040;
	padding: 10px;
	border-radius: 10px;
	border:none;
	
}

.container-mark button a {
	font-size: 1.2em;
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

/*END OF MEET US*/

/*ORDER*/

.container-order {
	width: 100%;
	text-align: center;
	float: left;
	background: -webkit-linear-gradient(yellow, white, yellow);
}

.container-order h2 {
	text-align: center;
 	font-family: Quicksand, sans-serif;
 	font-weight: bold;
 	font-size: 2em;
 	margin-top: 50px;
 	margin-bottom: 15px;
 }

.container-order h4 {
	width: 70%;
 	text-align: center;
 	font-family: Lato, sans-serif;
 	font-weight: lighter;
 	margin: 0 auto;
 	font-size: 1.2em;
 	margin-bottom: 35px;
}

.container-order div {
	width: 30%;
	margin: 20px;
	margin-bottom: 30px;
	float: left;
}

.container-order div img {
	width: 70%;
	border-radius: 300px;
	margin: 10px;
}

.container-order div h3 {
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	margin: 10px;
}

.container-order div p {
	font-family: Lato, sans-serif;
	font-weight: lighter;
	font-size: 1.1em;
	margin: 10px;
}

.container-order button {
	background-color: #fbb040;
	padding: 10px;
	border-radius: 10px;
	border:none;
	margin: 10px;
	
}

.container-order button a {
	font-size: 1.4em;
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

/*CONTACT*/

.container-con {
	width: 100%;
	text-align: center;
	float: left;
	background: -webkit-linear-gradient(yellow, white, yellow);
}

.map {
	width: 55%;
	margin: 20px;
	float: left;
}


.container-con h2 {
	text-align: center;
 	font-family: Quicksand, sans-serif;
 	font-weight: bold;
 	font-size: 2em;
 	margin-top: 50px;
 	margin-bottom: 15px;
}

.container-con p {
	border: 1px solid red;
}

.container-con ul {
	float: left;
	width: 40%;
	font-family: Lato, sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	margin-top: 70px;
}

#form {
	width: 40%;
	float: left;
	font-family: Lato, sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	margin-top: 20px;
}

input[type=text] {
    border: 2px solid #fbb040;
    border-radius: 4px;
}

#submit_button {
	background-color: #fbb040;
	padding: 10px;
	border-radius: 10px;
	border:none;
	margin: 10px;
}

/*HOVERS*/

nav ul li a:hover {
	color: #26a9e0;
}

.container button:hover {
	background-color: #26a9e0;
}

.col-2 a:hover {
color: #26a9e0;
}

.container-mark button:hover {
	background-color: #26a9e0;
}

.container-order button:hover {
	background-color: #26a9e0;
}

#submit_button:hover {
	background-color: #26a9e0;

}


@media screen and (max-width: 600px)
{
	#wrapper {
		width: 100%;
	}

	header {
		width: 100%;
		height: auto;
		float: none;
	}

	header h1 {
		width: 80%
		margin: 0 auto;
		float: none;
	}

	header h1 img {
		width: 100%;
		float: none;
	}


	nav {
		width: 100%;
		float: none;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
	}

	nav ul li {
		margin: 5px;
		display: block;
		margin: 10px;
		background-color: #fbb040;
		border-radius: 50px;
		padding: 10px;
		font-size: 1.2em;
		width: 39%;
		float: left;
	}

	nav ul li:active {
		background-color: #26a9e0;
	}

	header nav ul div {
		border:none;
	}

	nav ul li a {
		display: inline;
		font-size: 1em;
		color: #ffffff;
	}

	nav ul li a:hover {
		color: white;
	}

	.container {
		width: 100%;
	}

	.container h2 {
		font-size: 1.5em;
		margin-top: 20px;
	}

	.container button a {
		font-size: 0.8em;
	}

	footer {
		clear: both;
		width: 100%;
		text-align: center;
	}

	.col-1 {
		width: 100%;
		float: none;
	}

	.col-1 p {
		font-size: 1em;
	}

	.col-2 {
		width: 100%;
		float: none;
	}

	.col-2 ul {
		width: 100%;
	}

	.container-mark {
		width: 100%;
		float: none;
	}

	.container-mark div {
		width: 90%;
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
		margin-top: 10px;
		text-align: center;
	}

	.container-mark div p{
		width: 100%;
		margin-bottom: 30px;
	}

	.container-mark h2 {
		padding-top: 20px;
	}

	.container-order div {
		width: 100%;
		float: none;
	}

	.container-con {
		width: 100%;
	}

	.map {
		display: none;
	}

	#form {
		width: 100%;
		float: none;
	}

	.container-con ul {
		width: 100%;
		float: none;
		padding-bottom: 40px;
	}

	.container-con ul li {
		font-size: 0.8em;
	}

}